:root {

  /* FONTS */

  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* TEXT COLORS  */
  /*  NAVY-BLUE 2e / SLATE 434 */

  --primary-text-cl: #2E2F42;
  --secondary-txt-cl: #434455;
  --logo-dark-txt-cl: #2E2F42;
  --contact-txt-cl: #434455;

  /* IRIS 4d / OCEAN 404 */
  --accent-txt-bg-cl: #404BBF;
  --blue-txt-cl: #4D5AE5;
  --logo-blue-txt-cl: #4D5AE5;


  /* WHITE: ff / CLOUD f4 / CORNFLOWER e7 */
  --hero-main-txt-cl: #FFFFFF;
  --light-primary-text-cl: #FFFFFF;
  --footer-logo-light-txt-cl: #F4F4FD;
  --footer-light-txt-cl: #E7E9FC;

  /* BACKGROUND COLORS */
  --main-bg-cl: #FFFFFF;
  --hero-footer-bg-cl: #2E2F42;
  --blue-button-bg-cl: #4D5AE5;
  --portfolio-filter-button-bg-cl: #F4F4FD;
  --portfolio-filter-btn-borders: #E7E9FC;
  --our-tem-bg-cl: #F4F4FD;

}


html {
  box-sizing: border-box;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-cl);
  background-color: var(--main-bg-cl);
  margin: 0 auto;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}


/**
  |============================
  | Common Rules/ Utility
  |============================
*/

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1128px;
  padding-left: 20px;
  padding-right: 20px;

  /* outline: 1px solid tomato; */

}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}


.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.accent {
  color: var(--accent-txt-bg-cl);
}

.text-center {
  text-align: center;
}


.btn {
  display: block;
  cursor: pointer;
  padding: 12px 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--blue-txt-cl);
  background-color: var(--portfolio-filter-btn-borders);
  border: 1px solid var(--accent-txt-bg-cl);
  border-radius: 4px;
}



.btn.current,
.btn:hover,
.btn:focus {
  color: var(--light-primary-text-cl);
  background-color: var(--accent-txt-bg-cl);
  border-color: var(--accent-txt-bg-cl);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/**
  |============================
  |   HEADER 
  |============================
*/

/* LOGO */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-cl);
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  height: 72px;
  left: 0px;
  top: 0px;
}

/* SITE NAV */



.main-nav {

  display: flex;
  align-items: center;
}



.site-nav {
  display: flex;
  margin-left: 76px;
}


.site-nav .item {

  margin-right: 40px;
  text-decoration: none;
  list-style: none;

  /* outline: 2px solid tomato; */
}

.site-nav .item+.item {

  margin-left: 40px;
}

/* .site-nav .item:not(:last-child) {
  margin-right: 40px;
} */

.site-nav .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--primary-text-cl);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;


}

.site-nav .current {
  color: var(--blue-txt-cl);
}



.site-nav .link:hover,
.site-nav .link:focus,
.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--blue-txt-cl);
}


/* CONTACT NAV */

.contact-nav {
  display: flex;
  margin-left: auto;
}


.contact-nav .item {

  margin-right: 40px;
  text-decoration: none;
  list-style: none;

  /* outline: 2px solid tomato; */
}

.contact-nav .item+.item {

  margin-left: 40px;
}


.contact-nav .link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--contact-txt-cl);
}



/**
  |============================
  | MAIN INDEX
  |============================
*/


/* HERO section */

.hero {
  background-color: var(--hero-footer-bg-cl);

}

.title {
  margin-top: 0;
  margin-bottom: 0;
}

.hero .hero-title {
  color: var(--main-bg-cl);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.btn-hero {
  color: var(--light-primary-text-cl);
  background-color: var(--blue-txt-cl);
  text-align: center;
  margin-bottom: 188;
}

/* .centered {

  text-align: center; */

/* display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;

  position: absolute;
  width: 169px;
  height: 56px;
  left: 636px;
  top: 428px; */

/* background: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
} */

/* SECTION */


.section .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--primary-text-cl);

  text-align: center;
  text-transform: capitalize;
}

.section .subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-cl);
}

.section .text {
  line-height: 1.5;
}

/* TEAM section */

.team {
  background-color: var(--our-tem-bg-cl);
}



/**
  |============================
  |   FOOTER
  |============================
*/

.footer-wrap {
  background-color: var(--hero-footer-bg-cl);
  color: var(--footer-light-txt-cl);

  /* outline: 2px solid darksalmon; */

}

.footer-wrap .logo:visited {
  color: var(--footer-logo-light-txt-cl);
}

.footer-wrap .text {
  line-height: 1.5;


}